@model List<CimtasHrPanel.Models.PersonModelView>;
@{
    ViewData["Title"] = "Home Page";
}
@{
    bool PersonList = Context.Request.Query.ContainsKey("PersonList") && Context.Request.Query["PersonList"] == "true";


}
<div class="text-center">
    <h1 class="display-4">Çimtaş İzin Takip Paneline Hoşgeldiniz</h1>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Admin">Admin Paneli</a>
    <a class="btn btn-primary" asp-controller="Leave" asp-action="Index">İzin Geçmişi Listeleme</a>
    <a class="btn btn-primary" asp-controller="Leave" asp-action="LeaveModule">İzin Giriş Modülü</a>
    <br>
    @if(!PersonList)
    {
        <br>
        <form method="get">
            <input type="hidden" name="PersonList" value="true" />
            <button class="btn btn-danger">Tüm personeli listele</button>
        </form>
    }


    

</div>
@if(PersonList)
{
    <form method="get">
        <input type="hidden" name="PersonList" value="false" />
        <button class="btn btn-danger">Listeyi Kapat</button>
    </form>
    <div class="text-center">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Çalışan Adı</th>
                    <th>Departmand Adı</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                    <tr>
                        <td>@person.Name</td>
                        <td>@person.DepartmantName</td>
                        <td>
                            <form asp-action="PersonalData"asp-controller="Home"method="post">
                                <input type="hidden" name="personId" value="@person.PersonId">
                                <button type="submit" class="btn btn-sm btn-primary">İstatistik</button>
                            </form>
                        </td>
                        



                    </tr>
                    
                }
            </tbody>
        </table>

    </div>

}