@model List<CimtasHrPanel.Models.PersonModelView>;
@{
    ViewData["Title"] = "Home Page";
}
@{
    bool PersonList = Context.Request.Query.ContainsKey("PersonList") && Context.Request.Query["PersonList"] == "true";


}
<div class="text-center">
    <h1 class="display-4">Çimtaş İzin Takip Mini Paneline Hoşgeldiniz</h1>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Admin">Admin Panel</a>
    <a class="btn btn-primary" asp-controller="Leave" asp-action="Index">İzin Geçmişi</a>
    <a class="btn btn-primary" asp-controller="Leave" asp-action="LeaveModule">İzin Giriş Modülü</a>
    <p>İstatistik ekle</p>
    <p>Toplam izin gününü izin alma sayfasının altına ekle LeaveCalculator</p>
    <p>Validation ekle</p>
    @if(!PersonList)
    {
        <form method="get">
            <input type="hidden" name="PersonList" value="true" />
            <button class="btn btn-danger">Listele</button>
        </form>
    }


    

</div>
@if(PersonList)
{
    <form method="get">
        <input type="hidden" name="PersonList" value="false" />
        <button class="btn btn-danger">Listeyi Kapat</button>
    </form>
    <div class="text-center">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Çalışan Adı</th>
                    <th>Departmand Adı</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                    <tr>
                        <td>@person.Name</td>
                        <td>@person.DepartmantName</td>
                        <td>
                            <a class="btn btn-danger" asp-controller="Home" asp-action="PersonalData" asp-route-id="@person.PersonId">İstatistik</a>
                        </td>
                        <input type="hidden" value="@person.PersonId" />



                    </tr>
                    
                }
            </tbody>
        </table>

    </div>

}